@import "~bootstrap/scss/bootstrap";
@import "~include-media/dist/include-media";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

$primary-text-color: #3e4555;
$secondary-text-color: #8d97ad;

$large-font-size-header: 44px;
$large-font-size-desc-header: 32px;
$large-font-size-desc-paragraph: 20px;

$standard-font-size-header: 36px;
$standard-font-size-desc-header: 27px;
$standard-font-size-desc-paragraph: 16px;

$small-font-size-header: 30px;
$small-font-size-desc-header: 20px;
$small-font-size-desc-paragraph: 13px;

@mixin header($color, $size, $tPadding, $bPadding) {
    text-align: center;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    font-size: $size;
    color: $color;

    padding-top: $tPadding;
    padding-bottom: $bPadding;
}

@mixin small_header() {
}

.home {
    min-height: 100vh;

    &__header {
        @include header($primary-text-color, $standard-font-size-header, 2.4em, 2.4em);
    }

    &__scissors {
        position: absolute;
        z-index: -1;
    }

    @include media("<425px") {
        &__header {
            font-size: $small-font-size-header;
        }
        &__scissors {
            display: none;
        }
    }

    @include media(">1900px") {
        &__header {
            font-size: $large-font-size-header;
        }
    }

    @include media("<680px") {
        &__scissors {
            transform: scale(0.6);
        }

        &__header {
            padding-top: 2em;
        }
    }

    @include media("<520px") {
        .container-fluid {
            width: 100vw;
        }

        &__header {
            padding-bottom: 0;
        }
    }

    .row {
        .col {
            &--picture {
                text-align: right;

                position: relative;
            }
            .center {
                position: absolute;
                top: 50%;

                transform: translateY(-50%);

                @include media("<520px") {
                    & {
                        position: relative;
                        margin: -20% auto;
                    }
                }
            }

            @include media("<1200px") {
                &--picture {
                    display: none;
                }
            }

            @include media("<1480px") {
                &__picture--primary {
                    transform: scale(0.7);
                    position: absolute;
                    bottom: 0;
                    z-index: 2;
                }

                &__picture--background {
                    transform: scale(0.6);
                }
            }

            &--desc {
                margin: auto 3em;

                @include media("<368px") {
                    & {
                        margin: 0;
                    }
                }

                .desc {
                    &__text--secondary {
                        font-family: "Lato", serif;
                        font-size: $standard-font-size-desc-paragraph;
                        color: $secondary-text-color;
                        margin: 2.7em auto;
                    }

                    &__text--primary {
                        font-family: "Playfair Display", serif;
                        font-size: $standard-font-size-desc-header;
                        color: $primary-text-color;
                    }

                    @include media("<425px") {
                        &__text--primary {
                            font-size: $small-font-size-desc-header;
                        }

                        &__text--secondary {
                            font-size: $small-font-size-desc-paragraph;
                        }
                    }

                    @include media("<1200px") {
                        &__text--secondary {
                            margin: 1em auto;
                        }
                    }

                    @include media(">1900px") {
                        &__text--primary {
                            font-size: $large-font-size-desc-header;
                        }

                        &__text--secondary {
                            font-size: $large-font-size-desc-paragraph;
                        }
                    }
                }
            }

            &__picture--primary {
                position: absolute;
                bottom: 0;
                margin-left: -15%;
            }
        }

        margin: auto 0;
    }
}

.content {
    background-color: #f5f7fa;
    height: auto;
    // height: 100vh;
    &__header {
        @include header($primary-text-color, $standard-font-size-header, 2em, 3em);
    }

    &__price--header {
        @include header($primary-text-color, 27px, 5em, 1em);
        font-weight: 400;
    }

    &__delivery--header {
        @include header($primary-text-color, 27px, 5em, 1em);
        font-weight: 400;
    }

    .row {
        text-align: center;

        &__info {
            margin-top: 4em;
            font-family: "Lato", serif;
            color: $secondary-text-color;
        }

        .col {
            &__info {
                display: flex;
                align-items: center;
                flex-direction: column;
                text-align: center;

                .info__circle {
                    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.75);
                    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.75);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 60px;
                    height: 60px;
                    background-color: #ffffff;
                    border-radius: 100px;
                    text-align: center;
                    color: #e2536b;
                    margin: 1em;

                    .circle__number {
                        margin: 0;
                    }
                }

                .info__text {
                    font-family: "Lato", serif;
                    color: $secondary-text-color;
                }
            }

            &__price {
                margin: 1em;
                &__button {
                    border: 4px #e2536b solid;

                    padding: 0.5em 7em;
                    border-radius: 7px;
                    background-color: transparent;

                    .price {
                        font-family: "Lato", serif;

                        color: #e2536b;
                        font-size: 24px;
                    }

                    .price::after {
                        content: " ZŁ";
                    }
                }

                & {
                    text-align: center;
                }

                &__button--active {
                    border: 4px #29af8a solid;

                    background-color: #29af8a;

                    .price--active {
                        color: #ffffff;
                    }
                }
            }
        }
    }

    @mixin input {
        border: 2px #e0e6ed solid;
        border-radius: 10px;

        font-family: "Lato", serif;
        padding: 0.7em 1em;
        margin: 0.7em 1.2em;
        width: 80%;

        outline: none;

        &::placeholder {
            color: #8d97ad;
        }

        &:focus {
            border: 2px #bdc4cc solid;
        }
    }

    .special-code {
        font-size: 20px;
    }

    .form {
        text-align: center;
        position: relative;
        z-index: 2;

        .col__input {
            align-items: center;
            display: flex;
            flex-direction: column;

            margin: 2em 0;
        }

        .input {
            @include input();
            &--submit {
                font-size: 13px;
                font-family: "Lato", serif;
                color: #ffffff;
                background-color: #29af8a;
                text-align: center;
                padding: 0.8em 2em;
                margin: 1em auto;
                border: none;
            }

            &__error--message {
                font-family: "Lato", serif;
                color: #e2536b;
                font-weight: 700;
                font-size: 13px;
            }

            &__error {
                border: 2px #e2536b solid;
            }
        }


        &__image {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;

            @include media("<765px") {
                & {
                    display: none;
                }
            }
        }
    }

    .rodo {
        max-width: 40vw;
        text-align: left;
        margin: 5em;
        &__info {
            font-size: 13px;
            font-family: "Lato", serif;
            color: $secondary-text-color;
        }

        &__checkbox {
            float: left;
            margin-right: 10px;
        }
    }
}

.footer {
    width: 100%;
    min-height: 40vh;

    &__text {
        font-family: "Lato", serif;
        color: $secondary-text-color;
        margin: 2em 3em 0.5em;
    }

    .row {
        .col {
            padding: 0;

            &__text {
                font-family: "Lato", serif;
                color: $secondary-text-color;
                margin: 3em;
            }

            &__text--edition {
                font-family: "Lato", serif;
                color: $secondary-text-color;
                margin: 0.5em 3em;
            }
            &__icons {
                text-align: right;

                .fa {
                    margin: 0 0.7em;
                    padding: 1em;
                    font-size: 20px;
                    width: 1em;
                    height: 1em;
                    text-align: center;
                    text-decoration: none;
                    border-radius: 100px;
                    background-color: #e4e9ee;
                    color: #97a0b2;

                    &::before {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
    .company {
        margin: 5em auto;
    }
}
