@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@400;700&display=swap");

$primary-text-color: #3e4555;
$secondary-text-color: #8d97ad;

$large-font-size-header: 44px;
$large-font-size-desc-header: 32px;
$large-font-size-desc-paragraph: 20px;

$standard-font-size-header: 36px;
$standard-font-size-desc-header: 27px;
$standard-font-size-desc-paragraph: 16px;

$small-font-size-header: 30px;
$small-font-size-desc-header: 20px;
$small-font-size-desc-paragraph: 13px;

@mixin header($color, $size, $tPadding, $bPadding) {
    text-align: center;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    font-size: $size;
    color: $color;

    padding-top: $tPadding;
    padding-bottom: $bPadding;
}

.home {
    height: 100vh;

    &__header {
        @include header($primary-text-color, $standard-font-size-header, 2.4em, 2.4em);
    }

    &__scissors {
        position: absolute;
        z-index: -1;
    }
    .row {
        .col {
            &--picture {
                text-align: right;

                position: relative;
            }
            .center {
                position: absolute;
                top: 50%;

                transform: translateY(-50%);
            }

            &--desc {
                margin: auto 3em;

                .desc {
                    &__text--secondary {
                        font-family: "Lato", serif;
                        font-size: $standard-font-size-desc-paragraph;
                        color: $secondary-text-color;
                        margin: 2.7em auto;
                    }

                    &__text--primary {
                        font-family: "Playfair Display", serif;
                        font-size: $standard-font-size-desc-header;
                        color: $primary-text-color;
                    }
                }
            }

            &__picture--primary {
                position: absolute;
                bottom: 0;
                margin-left: -15%;
            }
        }

        margin: auto 0;
    }
}

@media screen and (min-width: 1920px) {
    .container__header {
        font-size: $large-font-size-header;
    }

    .desc__text--primary {
        font-size: $large-font-size-desc-header;
    }

    .desc__text--secondary {
        font-size: $large-font-size-desc-paragraph;
    }
}

@media screen and (max-width: 1480px) {
    .col__picture--primary {
        transform: scale(0.7);
        position: absolute;
        bottom: 0;
        z-index: 2;
    }

    .col__picture--background {
        transform: scale(0.6);
    }
}

@media screen and (max-width: 1200px) {
    .col--picture {
        display: none;
    }

    .desc__text--secondary {
        margin: 1em auto;
    }
}

@media screen and (max-width: 690px) {
    .home__scissors {
        transform: scale(0.6);
    }

    .container__header {
        padding-top: 2em;
    }
}

@media screen and (max-width: 520px) {
    .container-fluid {
        width: 100vw;
    }

    .container__header {
        padding-bottom: 0;
    }

    .center {
        position: relative;
        margin: -20% auto;
    }
}

@media screen and (max-width: 425px) {
    .container__header {
        font-size: $small-font-size-header;
    }

    .desc__text--primary {
        font-size: $small-font-size-desc-header;
    }

    .desc__text--secondary {
        font-size: $small-font-size-desc-paragraph;
    }
    .home__scissors {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .col--desc {
        margin: auto;
    }
}
.content {
    background-color: #f5f7fa;
    // height: auto;
    height: 100vh;
    &__header {
        @include header($primary-text-color, $standard-font-size-header, 2em, 3em);
    }

    &__price--header {
        @include header($primary-text-color, 27px, 5em, 1em);
        font-weight: 400;
    }
    .row {
        .col {
            &__info {
                display: flex;
                align-items: center;
                flex-direction: column;
                text-align: center;

                .info__circle {
                    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.75);
                    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.75);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 60px;
                    height: 60px;
                    background-color: #ffffff;
                    border-radius: 100px;
                    text-align: center;
                    color: #e2536b;
                    margin: 1em;

                    .circle__number {
                        margin: 0;
                    }
                }

                .info__text {
                    font-family: "Lato", serif;
                    color: $secondary-text-color;
                }
            }

            &__price {
                margin: 1em;
                &__button {
                    border: 4px #e2536b solid;

                    padding: 0.5em 7em;
                    border-radius: 7px;
                    background-color: transparent;

                    .price {
                        font-family: "Lato", serif;

                        color: #e2536b;
                        font-size: 24px;
                    }

                    .price::after {
                        content: " ZŁ";
                    }
                }

                & {
                    text-align: center;
                }

                &__button--active {
                    border: 4px #29af8a solid;

                    background-color: #29af8a;

                    .price--active {
                        color: #ffffff;
                    }
                }
            }
        }
    }
}
